@page
@model DatabaseIdentityProvider.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    This example demonstrates using the ComponentSpace SAML v2.0 library to enable SAML single sign-on
    as the identity provider.
</p>
<p>
    It includes support for identity provider (IdP) and service provider (SP) initiated
    single sign-on (SSO) and single logout (SLO).
</p>

<h4>Product Information</h4>
<p>
    @Model.ProductInformation
</p>
<p>
    This is <environment exclude="Development">not</environment> a development environment.
</p>

<h4>Configuration Database Seeding</h4>
@if (Model.DatabaseSeeded)
{
    <p>The SAML configuration database has been seeded.</p>
}
else
{
    <p>Seed the SAML configuration database.</p>
    <form method="post"><button class="btn btn-primary">Seed Data</button></form>
    <br />
}
