@page
@model SamlProxy.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    This example demonstrates using the ComponentSpace SAML v2.0 library to act as a SAML proxy.
</p>
<p>
    It acts as a service provider to identity providers and as an identity provider to service providers.
</p>
<p>
    It includes support for identity provider (IdP) and service provider (SP) initiated
    single sign-on (SSO) and single logout (SLO).
</p>

<h4>Product Information</h4>
<p>
    @Model.ProductInformation
</p>
