<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/928e34b2-d545-411f-8b61-c591c7b9499b/resourceGroups/ComponentSpace/providers/Microsoft.Web/sites/ComponentSpace-IdP-Linux</ResourceId>
    <ResourceGroup>ComponentSpace</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://componentspace-idp-linux.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0b9b39da-e483-4012-911a-b33abb7138fb</ProjectGuid>
    <PublishUrl>https://componentspace-idp-linux.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ComponentSpace-IdP-Linux</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>